table {
    position: relative;
    border-collapse: collapse;
    width: 50%;
    min-width: 600px;
    margin: auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}